.loginbox{
    margin-top: 1vw;
   
    height: 70vw;
    opacity: 1;
    
}
.headwelcome{
    padding-top: 1vw;
    background-color:black;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    height: 4vw;
    font-size: larger;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

#id1{
    
   margin-top: 2vw;
   font-family: 'Times New Roman', Times, serif;
}

#id2{
    font-family: 'Times New Roman', Times, serif;
}

#id3{
    
    font-family: 'Times New Roman', Times, serif;
    
}

.card{
    background-color: aqua;
}


.bg{
    /* background-image: url("bg_login2.jpg"); */
    background-color: #99a7b3;
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}
.logo{
    margin-left: 45vw;
    
}
.newcontainer{
    margin-left: 30vw;
    padding-left: 39vw;
    margin-bottom: 2vw;
    font-weight: bold;
   
}
/* body{
background-image: url("index2.jpg");
} */