.container1{
    
    padding: auto;
    margin-top: 3vh;
    margin-left: 2vh;
    margin-right: 3vh;
   
    /* display: flex; */
}
.homepage{
    margin-top: 2vw;
    margin-left: 2vw;
}